* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.nanny{
	background: #FEF5EA;
padding: 5px 12px 5px 12px;
gap: 10px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
border: none;
border-radius: 8px;
}

.bulk{
width: 100px;
height: 50px;
background-color:#fff;
border-radius: 8px;
}

.week{
  border: none;
}

.done{
	 background: #fdebd5;
	 border: none;	 
}

.home{
	display: flex;
}

.button{
	background: #5570F1;
    width: 150px;
    height: 36px;
    gap: 10px;
	margin-left: 10px;
	border-radius: 10px ;
}

.twobox{
	display: flex;
	padding-top: 20px;
}

.all{
	border-radius: 12px;
}

.active{
	font-size: x-small;
	color: #fff;
}

.expired{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: #8B8D97;
}

.start{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: #8B8D97;
}

.side-btn{
border-radius: 10px ;
border: 1px solid #53545C
}

.main{
background: #fff;
}

.mainpage{
	border-radius: 20px;
	padding: 10px;
}

.heading{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: #2C2D33;
}

.hr{
color: #dfdfe2;
}

.publishbtn{
	border: none;
	border-radius: 8px;
	background-color: #5E636614;
}

.statusbtn{
	background: #5570F129;
    border: none;
	border-radius: 8px;
	color: #5570F1;
}

.window{
	color: #2C2D33;
	width: 24px;
    height: 24px;
}

.window-active{
	background-color: #5570F1;
	border-radius: 10px;
	width: 40px;
	height: 44px;
}

.window-folder{
	color: #fff;
	width: 34px;
    height: 34px;
	padding-left: 7px;
	padding-bottom: 10px;
}

li{
	list-style: none;
}
.folder{
	padding: 10px;
	background-color: #5570F1;
	border-radius: 10px;
}

.bottomicon{
	color: #2C2D33;
	width: 24px;
    height: 24px;
	margin-top: 300px;	
}

.headphone{
	background-color: #0698f31a;
    width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 16px 
}

.gift{
	background: #FFCC9133;
	width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 16px 
}
.red-folder{
	width: 46px;
    height: 46px;
    padding: 10px;
	color: #CC5F5F;
}


.bottom{
	background: #eee6e6;
	border-radius: 10px;
	border: none;
}

.ten{
	border: none;
	background-color: #dedee2;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.input{
	width: 350px;
	height: 50px;
	margin-top: 20px;
	background-color: #EFF1F999;
  border: 1px solid #E1E2E9;
  color: #ABAFB1;
	padding: 10px;
	border-radius: 10px;
	padding-right: 30px;
	cursor: pointer;
}

.selling{
	width: 170px;
	height: 50px;
	margin-top: 20px;
    background-color: #EFF1F999;
    border: 1px solid #E1E2E9;
    color: #ABAFB1;
	padding: 10px;
	border-radius: 10px;
	margin-right: 10px;
}

.cost{
	width: 170px;
	height: 50px;	
	margin-top: 20px;
	background-color: #EFF1F999;
    border: 1px solid #E1E2E9;
    color: #ABAFB1;
	padding: 10px;
	border-radius: 10px;
	margin-left: 10px;
}

.off{
	width: 40px;
	height: 20px;
}

.add-discount{
	margin-left: 150px;
}

.addiscount{
	margin-left: 120px;
}

.message{
	width: 350px;
	background-color: #EFF1F999;
    border: 1px solid #E1E2E9;
    color: #ABAFB1;
	border-radius: 10px;
	cursor: pointer;
	padding-left: 20px;
	padding-top: 10px;
}

.column-one{
	border-radius: 10px;

}

.column-two{
	border-radius: 10px;
	margin-left: 50px;
}

.date{
	width: 130px;
	background-color: #EFF1F999;
    border: 1px solid #E1E2E9;
    color: #ABAFB1;
	padding: 10px;
	border-radius: 5px;
}

#getData {
    width: 290px;
    height: 200px;
    padding: 10px;
}

.drago{
	margin-top: 20px;
	background-color: #EFF1F999;
    border: 1px solid #E1E2E9;
    color: #ABAFB1;
	border-radius: 10px;
}

.upload-img{
	width: 30px;
	margin-bottom: 10px;
	margin-left: 100px;
	margin-top: 30px;
}

.uploadimg{
	width: 15px;
	margin-bottom: 10px;
	margin-left: 70px;
}

.png{
	font-weight: 500;
}

#additional {
    width: 130px;
    height: 100px;
    padding: 10px;
}

.upload_img{
	width: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 40px;
}

.square{
	border: 2px solid rgb(238, 236, 236);
	border-style: dashed;
	width: 130px;
	height: 100px;
	margin: 20px;
	border-radius: 10px;
}
.small-drag{
	display: flex;
}

.tshirt{
	background-color: #fff;
	border-radius: 20px;
	margin-left: 10px;
}

.publish{
	background-color: rgb(205, 238, 205);
	border-radius: 5px;
	padding-inline: 10px;
	color: green;	
	padding-top: 3px;
	padding-bottom: 3px;
}

.price{
color: #8B8D97;
font-size: 12px;
font-weight: 400;
line-height: 0px;
text-align: left;
}

.stock{
font-size: 12px;
font-weight: 400;
line-height: 0px;
text-align: left;
color: #8B8D97;
}

.p{
color: #45464E;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
text-align: left;

}

.s{
	color: #45464E;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;

}

.pie{
	background: #5570F114;
	font-size: xx-large;
	padding: 0px 7px 3px 7px;
}

.all-time{
    color: #BEC0CA;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
	border: none;
}
.total{
	margin-top: 30px;
	color: #8B8D97;
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    text-align: left;
}

.N{
font-size: 20px;
font-weight: 500;
line-height: 1;
text-align: left;
color: #45464E;
}

.eye{
	background: #FFCC9129;
	font-size: xx-large;
	padding: 0px 7px 3px 7px;
}

.tab{
	padding-right: 85px;
}

.view-main-section{
 height: 700px;
}

.image{
	margin-left: 40px;
}

.img{
	margin-right: 40px;
}

.items{
	display: flex;
}

.inventory-item{
	display: flex;
	justify-content: space-between;
}

.share{
	display: flex;
}

.bottom-content{
	display: flex;
	justify-content: space-between;
}

.tshirt-img{
	width: 99%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.small-tshirt{
	width: 45%;
margin-top: 2px;
	margin-right: 10px;
}

/* responsive  1024 991 767 576 450 300*/
@media(max-width:1071px){

.image{
	margin-left: 40px;
}

.img{
	margin-right: 10px;
}

#getData {
    width: 190px;
}


.square{
	margin-left: 0px;
}

.small-drag{
	display: block;
}

.input{
	width: 200px;
}
.message{
	width: 200px;
}
}

@media(max-width:970px){

.image{
	margin-left: 40px;
}

.img{
	margin-right: 10px;
}

#getData {
    width: 150px;
	height: 220px;
}
.upload-img{
	margin-left: 0px;
}
.uploadimg{
	margin-left: 0px;
}

}

@media(max-width:767px){

.image{
	margin-left: 40px;
}

.img{
	margin-right: 10px;
}

}

@media(max-width:677px){

.image{
	margin-left: 10px;
}

.img{
	margin-right: 10px;
}

}


@media(max-width:575px){

.image{
	margin-left: 0px;
}

.img{
	margin-right: 0px;
}
.items{
	display: block;
}

.inventory-item{
	display: block;
}
.share{
	display: block;
}

.bottom-content{
	display: block;	
}

.cost{
	display: block;
}

.column-one{
	margin-bottom: 30px;
}
.column-two{
	margin-left: 0px;
}

}

@media(max-width:450px){

.image{
	margin-left: 30px;
}

.img{
	margin-right: 0px;
}
.share{
	display: block;
}

}

@media(max-width:300px){

.image{
	margin-left: 30px;
}

.img{
	margin-right: 0px;
}
}