* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
	margin-left: 20px;
	margin-right: 20px;
}
.header{
	display: flex;
	justify-content: space-between;
	background:#fff;
}

.nanny{
width: 100px;
height: 50px;
background-color: #f2f2f5;
border: none;
border-radius: 8px;
}

.bulk{
width: 100px;
height: 50px;
background-color:#fff;
border-radius: 8px;
}

.week{
  border: none;
}

.done{
	 background: #fdebd5;
	 border: none;	 
}

.home{
	display: flex;
}

.button{
	background: #5570F1;
    width: 150px;
    height: 36px;
    gap: 10px;
	margin-left: 10px;
	border-radius: 10px ;
}
.twobox{
	display: flex;
	padding-top: 20px;
}
.all{
	border-radius: 12px;
}

.active{
	font-size: x-small;
	color: #fff;
}
.expired{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: #8B8D97;
}

.start{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: #8B8D97;
}

.side-btn{
padding: 8px 0px 0px 0px;
border-radius: 10px ;
border: 1px solid #53545C
}

.main{
background: #fff;
}

.mainpage{
	border-radius: 20px;
	padding: 10px;
}

.heading{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
color: #2C2D33;
}

.publishbtn{
	border: none;
	border-radius: 8px;
	background-color: #5E636614;
}

.statusbtn{
	background: #5570F129;
    border: none;
	border-radius: 8px;
	color: #5570F1;
}


.window{
	color: #2C2D33;
	width: 24px;
    height: 24px;
}

.folder{
	padding: 10px;
	background-color: #5570F1;
	border-radius: 10px;
}


.bottomicon{
	color: #2C2D33;
	width: 24px;
    height: 24px;
	margin-top: 300px;	
}

.headphone{
	background-color: #0698f31a;
    width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 16px 
}

.gift{
	background: #FFCC9133;
	width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 16px 
}
.red-folder{
	width: 46px;
    height: 46px;
    padding: 10px;
	color: #CC5F5F;
}


.bottom{
	background: #eee6e6;
	border-radius: 10px;
	border: none;
}

.ten{
	border: none;
	background-color: #dedee2;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.input{
	width: 350px;
	height: 50px;
	margin-top: 20px;
	border: none;
	background-color: #dedee2;
	padding: 10px;
	border-radius: 10px;
	padding-right: 30px;
}

.selling{
	width: 170px;
	height: 50px;
	border: none;
	margin-top: 20px;
	background-color: #dedee2;
	padding: 10px;
	border-radius: 10px;
	margin-right: 10px;
}

.cost{
	width: 170px;
	height: 50px;
	border: none;
	margin-top: 20px;
	background-color: #dedee2;
	padding: 10px;
	border-radius: 10px;
	margin-left: 10px;
}

.off{
	width: 40px;
	height: 20px;
}
.add-discount{
	margin-left: 150px;
}

.addiscount{
	margin-left: 120px;
}

.message{
	width: 350px;
	background-color: #e0e0e6;
	border-radius: 10px;
	border: none;
	padding-left: 20px;
	padding-top: 10px;
}

.column-one{
	border-radius: 10px;
}

.column-two{
	border-radius: 10px;
}

.date{
	width: 130px;
	border: none;
	background-color: #dedee2;
	padding: 10px;
	border-radius: 5px;
}


#getData {
    width: 290px;
    height: 200px;
    padding: 10px;
}

.drago{
	margin-top: 20px;
	border: none;
	background-color: #ecedf1;
	border-radius: 10px;
}

.upload-img{
	width: 30px;
	margin-bottom: 10px;
	margin-left: 100px;
	margin-top: 30px;
}

.uploadimg{
	width: 15px;
	margin-bottom: 10px;
	margin-left: 70px;
}

.png{
	font-weight: 500;
}

#additional {
    width: 130px;
    height: 100px;
    padding: 10px;
}

.upload_img{
	width: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 40px;
}


.square{
	border: 2px solid rgb(238, 236, 236);
	border-style: dashed;
	width: 130px;
	height: 100px;
	margin: 20px;
	border-radius: 10px;
}